@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&family=Plus+Jakarta+Sans:wght@400;600;800&family=Rozha+One&display=swap');

@import "tailwindcss";

@theme {

  --color-background: #0D0D0D;

  --color-foreground: #F5F2EA;

  --color-accent: #CB3233;

  --font-heading: "Rozha One", serif;
  --font-body: "Plus Jakarta Sans", sans-serif;
  --font-display: "Montserrat", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-body);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }
}